@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-bg text-text-primary font-sans;
  }
}

.glass-card {
  @apply bg-white/60 border border-gray-200 shadow-xl backdrop-blur-lg dark:bg-dark-surface/70 dark:border-white/10;
}